table {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 5%);
  text-overflow: ellipsis;
}

td {
  color: white;
  border: 1px solid white;
  border-collapse: collapse;
  text-align: center;
  font-size: large;
}

th {
  color: white;
  border: 1px solid white;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;
  background-color: rgb(253, 62, 94) !important;
}

td:hover {
  color: rgb(253, 62, 94) !important;
}

img {
  height: 100%;
  width: 100%;
}
