body {
  background-color: black;
  text-align: center;
  text-align: -webkit-center;
}

.pageTitle {
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
  font-size: 2rem;
}

.loginBox {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 100%);
}

input {
  margin: 10px 0px 10px 0px;
  width: 80%;
  height: 2.5em;
  font-size: medium;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border: 2px solid rgb(253, 62, 94) !important;
}

.loginBtn {
  background-color: rgb(253, 62, 94);
  color: white;
  border-radius: 5px;
  border: 1px solid;
  font-size: medium;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
}

.loginBtn:hover {
  background-color: white;
  color: rgb(253, 62, 94);
}
